.list-group-item {
    position: relative;
}

.list-group-item:hover {
    background: rgba(200, 0, 0, 0.8);
    border-bottom: 1px solid rgba(200, 0, 0, 0.4) !important;
    border-right: 1px solid rgba(200, 0, 0, 0.4);
    opacity: 0.3;
    cursor: pointer;
}