.list-group-item {
    position: relative;
}

.list-group-item:hover {
    background: rgba(200, 0, 0, 0.8);
    border-bottom: 3px solid rgba(200, 0, 0, 0.4) !important;
    border-right: 3px solid rgba(200, 0, 0, 0.4);
    opacity: 0.6;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.25);
    cursor: pointer;
}