{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                {{ form_start(form, {'action': path('register'),'method': 'POST'}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <a href={{ path('home') }}>Login</a>
            </div>
        </div>
    </div>
{% endblock %}
