{% extends 'base.html.twig' %}

{% block title %}Your tasks{% endblock %}

{% block javascripts %}
    <script src='js/tasks/tasks.js'></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="input-group my-3 col-sm-6 mx-auto">
            <input type="text" id="task-to-add" class="form-control" placeholder="Your task to do..." aria-label="Your tasks to do" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" id="add" type="button">Add</button>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-group list-group-flush col-sm-8 mx-auto border-top border-bottom border-success">
            {% for task in tasks %}
                <li class="list-group-item">{{ task.getTaskDescription }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
