{% extends 'base.html.twig' %}

{% block title %}Your tasks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
{% endblock %}

{% block javascripts %}
    <script src='js/tasks/tasks.js'></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-2 justify-content-end">
        <div class="col-1">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="input-group my-3 col-sm-6 mx-auto">
            <input type="text" id="task-to-add" required class="form-control" placeholder="Your task to do..." aria-label="Your tasks to do" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" id="add" type="button">Add</button>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-group list-group-flush col-sm-8 mx-auto border-top border-bottom border-success pl-3">
            {% for task in tasks|reverse %}
                <li class="list-group-item my-2" data-id={{ task.id }}>{{ task }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
